<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014828209310-bi4b99sf7hf745scc605j26a0tkrecf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014828209310-bi4b99sf7hf745scc605j26a0tkrecf9</string>
	<key>API_KEY</key>
	<string>AIzaSyBpZN7E_CDpwdIYP-yEbVESwWPIdfNvJ3w</string>
	<key>GCM_SENDER_ID</key>
	<string>1014828209310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.futureisp.app</string>
	<key>PROJECT_ID</key>
	<string>futureispush</string>
	<key>STORAGE_BUCKET</key>
	<string>futureispush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014828209310:ios:3c128ec3c5284578</string>
	<key>DATABASE_URL</key>
	<string>https://futureispush.firebaseio.com</string>
</dict>
</plist>