@font-face {
    font-family: Yanone-exlight;
    src: url(../fonts/yanone/YanoneKaffeesatz-ExtraLight.ttf);
}

@font-face {
    font-family: Yanone-light;
    src: url(../fonts/yanone/YanoneKaffeesatz-Light.ttf);
}

@font-face {
    font-family: Yanone-Regular;
    src: url(../fonts/yanone/YanoneKaffeesatz-Regular.ttf);
}

@font-face {
    font-family: Yanone-bold;
    src: url(../fonts/yanone/YanoneKaffeesatz-Bold.ttf);
}

html
{
    font-family: 'Yanone-light' !important;
    background: #0081a1;
}

body
{
    font-family: 'Yanone-light' !important;
    background: #0081a1;
}

#splashScreen
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: url(../img/logo-future-isp.png) center center no-repeat #0081a1;
    background-size: 60%;
}

main#panel
{
    background: #0081a1;
    height: max-content !important;
    padding-top: 60px !important;
}

#wrapperHeader h3
{
    margin: 5px 0 0 0;
}

#wrapperHeader
{
    width: 100%;
    height: 60px;
    background: url(../img/logo-future-isp.png) #0081a1 center center no-repeat;
    border-bottom: 1px solid #fad67f;
    background-size: 35%;
    animation: animatedBackground 0.4s linear;
    position: fixed;
    top: 0;
    z-index: 99;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

#wrapperHeader.menuOff
{
    background: url(../img/logo-future-isp.png) 15px center no-repeat;
    background-size: 35%;
}


#wrapperHeader h3
{
    text-indent: -999999px;
}

#wrapperHeader a
{
    margin: 0;
    padding: 0 5px 0 5px;
    border-radius: 3px;
}

#wrapperHeader a i
{
    color: #fad67f;
}

#wrapperHeader.menuOff a.menu-hamburg
{
    display: none;
}

.menu-hamburg
{
    color: #999;
    /*border-radius: 50px;*/
    width: 30px;
    height: 25px;
}

.mainHome{
    position: relative;
}

.eventInfo.section
{
    padding: 5px 0;
    bottom: 10px;
    right: 10px;
}

.eventInfo
{
    position: absolute;
    background: rgba(0,0,0,.75);
    right: 15px;
    bottom: 15px;
    display: block;
    z-index: 999;
    color: #fad67f;
    box-shadow: 0px 0px 1px 1px rgba(255,255,255,.5);
    padding-top: 7px;
    padding-bottom: 7px;
}

#mainBanner
{
    border-bottom: 1px solid #fad67f;
    height: 200px;
    background-size: cover;
}

#mainBanner img
{
    width: 100%;
}

#eventsList li
{
    background-size: cover;
}

#rotateYear
{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);

    font-family: 'Yanone-bold' !important;
    font-size: 32px;
    position: absolute;
    bottom: -40px;
    right: 0;
}

#mainLocale
{
    font-family: 'Yanone-Regular' !important;
    font-size: 35px;
    line-height: 40px;
    text-align: right;
}

#mainDays
{
    font-size: 22px;
    text-align: right;
}

#menuHome, .divisionOnSection
{
    border-bottom: 1px solid #fad67f;
    border-top: 1px solid #fad67f;
    height: 60px;
    background: #e3156a;
    margin-top: 10px;
    overflow-x: scroll;
    /*transition: all 100ms;*/
    position: relative;
    z-index: 9999;
    box-shadow: none;
    /*display: table;*/
    width: 100%;
}

.divisionOnSection
{
    padding: 10px;
    font-family: Yanone-Regular;
    display: block;
    text-align: left;
    color: #fff;
    height: 40px;
    margin: 0;
    border-top: none;
}

.divisionOnSection i
{
    margin-right: 10px;
    font-size: 18px;
}

#menuHome.flying
{
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.5);
    margin-top: -20px;
}

.shadowning
{
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,.5);
    
}

#menuHome ul
{
    text-align: center;
    padding: 0 18px 0 10px;
    margin: 15px auto 0 auto;
}

#menuHome ul li
{
    list-style: none;
    display: inline;
    /*color: #fad67f;*/
    color: #fff;
    margin-right: 25px;
}

#menuHome ul li:last-child
{
    margin-right: 0;
}

#menuHome ul li i
{
    font-size: 26px;
    padding: 1px;
    border-radius: 5px;
}

#menuHome ul li.disabled i
{
    opacity: .5;
}

.eventList
{
    overflow-y: scroll;
}

.eventList h3
{
    color: #fff;
    text-align: left;
    padding: 0;
    font-size: 22px;
    margin: 15px;
}

.eventList ul
{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.eventList ul li
{
    height: 100px;
    border-bottom: 1px #fad67f solid;
    border-top: 1px #fad67f solid;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    overflow: hidden;
    position: relative;
}

.eventList ul li .eventInfo
{
    bottom: 10px;
    right: 10px;
    color: #fdffbb;
}

.evtLocale
{
    font-family: 'Yanone-Regular' !important;
    font-size: 30px;
    line-height: 30px;
    text-align: right;
}

.eventList ul li .rotateYear
{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);

    font-family: 'Yanone-bold' !important;
    font-size: 32px;
    position: absolute;
    bottom: -36px;
    right: 0;
}

.evtDays
{
    font-size: 22px;
    text-align: right;
}

.eventList ul li img
{
    width: 100%;
}

.fitContent
{
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

.maxContent
{
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
}

.evtsSections
{
    display: none;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opactiy .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.evtsSections.activeView
{
    opacity: 1;
}

.mainBannersection
{
    overflow: hidden;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #fad67f;
}

.mainSections
{
    position: relative;
}

.mainEventOnSection
{
    font-size: 30px;
    font-family: Yanone-Regular;
    margin-top: 5px;
    text-align: right;
}

.dateEevntOnSection
{
    text-align: right;
}

.sectionList ul li
{
    background: rgba(50,50,50,.6);
    text-align: left;
    color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
    height: 120px;
}

.sectionList ul li div
{
    padding: 0;
    margin: 0;
}

.sectionList ul li h3
{
    margin: 8px 5px 2px 10px;
    padding: 0;
    font-size: 18px;
}

.sectionList ul li p
{
    margin: 3px 5px 0 10px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
}

.actionsSections
{
    text-align: center;
    border-top: 1px solid #ccc;
}

.actionsSections div
{
    padding-top: 5px !important;
}

.actionsSections div span
{
    color: #fad67f;
}

.eventList ul li div.iconList
{
    height: 100%;
    /*border-right: 1px solid #fad67f;*/
}

.eventList ul li div.iconList img
{
    height: 100%;
}

.textsSections h3
{
    color: #fdffbb;
    text-align: left;
}


.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}
.alert h4{margin-top:0;color:inherit}
.alert .alert-link{font-weight:700}
.alert>p,.alert>ul{margin-bottom:0}
.alert>p + p{margin-top:5px}
.alert-dismissable,.alert-dismissible{padding-right:35px}
.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-5px;color:inherit}
.alert-success{color:#3c763d;background-color:rgba(255, 255, 255,.95);border-color:#3c763d}
.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}
.alert-warning{color:#8a6d3b;background-color:rgba(255, 255, 255,.95);border-color:#8a6d3b}
.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}
.alert-danger{color:#a94442;background-color:rgba(255, 255, 255,.95);border-color:#a94442}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@-o-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
.close{background: transparent; border: none; font-size: 35px; padding-right: 0 !important; outline: none;}

.maskLoader
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 99999999;
    display: none;
}

#wrapperLoader
{
    position: absolute;
    top: 25%;
    left: calc(50% - 18px);
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 1px 3px 1px rgba(0,0,0,.5);
}


.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 26px;
  height: 26px;
  -webkit-animation: spin .5s linear infinite; /* Safari */
  animation: spin .5s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*#subscribe
{
    height: 100%;
    width: 100%;
}*/

#wrapperSubscribeForm, #wrapperSessionDetails, #wrapperMapArea, #wrapperBluePrint,
#wrapperHosts, #wrapperHostsDetails, #wrapperExhibitors, #wrapperExhibitorsDetails,
#wrapperCalendar, #wrapperDeveloperDetails
{
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999;
    background: #0081a1;
    /*background: rgba(0, 129, 161,.95)*/
}

#wrapperSessionDetails, #wrapperSubscribeForm{
    z-index: 999999;
}

#wrapperSubscribeForm.slideInLeft, #wrapperSessionDetails.slideInRight, #wrapperMapArea.slideInLeft,
#wrapperBluePrint.slideInLeft, #wrapperHosts, #wrapperHostsDetails.slideInRight, #wrapperExhibitors,
#wrapperExhibitorsDetails, #wrapperCalendar, .wrapperCard, #wrapperDeveloperDetails
{
    animation-duration: 0.2s;
    
}

#btSubscribeForm i, #btSessionDetails i, #btMapArea i, #btBluePrint i, #btHosts i,
#btHostsDetails i, #btExhibitors i, #btExhibitorDetails i, #btCalendar i, #btDevloperDetails i
{
    /*color: #e3156a;*/
    color: #fad67f;
}

#formAvatar
{
    border-radius: 50%;
    padding: 10px;
    width: 96px;
    height: 96px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    position: relative;
    background-size: cover; 
}

#formAvatar.whImg
{
    border: solid 2px #fff;
}

#formAvatar i
{
    font-size: 75px;
    color: #ccc;
    font-weight: 600;
    color: #fff;
}

#formAvatar i.btAddAvatar
{
    font-size: 24px;
    position: absolute;
    font-weight: normal;
    top: 0;
    right: 0;
    display: none;
}

.formApp
{
    padding: 20px;
    /*border-top: 1px solid #fad67f;*/
    margin-top: 5px;
    overflow: scroll;
    height: calc(100% - 165px);
}

.formApp.focused
{
    height: calc(100% - 430px);
}
.form-group {
    width: 100%;
    margin-bottom: 25px;
}

.form-group .form-line {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #fff;
}

.form-group .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding-left: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#loginSocialList
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #fff;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}


#loginSocialList i
{
    font-size: 36px;
    color: #d34836;
    margin-bottom: 15px;
}

#loginSocialList h3
{
    margin: 10px 0 10px 10px;
    font-weight: 300;
}

/*.btRegister {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 50px 5px 50px;
  border: solid #1f628d 1px;
  text-decoration: none;
  outline: none;
}*/

.btRegister:hover {
  background: rgba(50,50,50,.3);
}

button.btRegister {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	padding: 10px 100px;
        
        background: rgba(50,50,50,.3);
        
/*	background: -moz-linear-gradient(
		top,
		#201d45 0%,
		#222e5c);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#201d45),
		to(#222e5c));*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #245269;
	-moz-box-shadow:
		0px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,1);
	box-shadow:
		0px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
        outline: none;
}

#realTimeButton
{
    position: absolute;
    top: 25px;
    right: 75px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    background: #e3156a;
    z-index: 999;
    /*border: 2px solid #fad67f;*/
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    text-align: center;
}

#realTimeButton i 
{
    font-size: 38px;
    margin-top: 10px;
    /*color: #0081a1;*/
    color: #fff;
}

.commonRegister
{
    display: none;
}

/* Shared */
.loginBtn {
    font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 38px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 100%;
}

.loginBtn i
{
    left: 12px;
    position: absolute;
    top: calc(50% - 8px);
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #3B5998;
  /*background-image: linear-gradient(#4C69BA, #3B55A0);*/
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;*/
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}

.loginBtn--google i
{
    left: 8px;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;*/
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

a#openForm, a#closeForm, #btLogout
{
    font-size: 16px;
    text-decoration: underline;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

#btLogout
{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #999;
}

#btLogout i
{
    font-size: 18px;
    margin-right: 5px;
}

.systemVersion
{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fad67f !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    padding-right: 20px !important;
    font-size: 12px;
}

.systemVersion span
{
    color: #fff;
}

#mainDeveloperImage
{
    background: url(../img/logo-criare.png) center center no-repeat;
    background-size: contain;
}